<span class="badge teal darken-4 white-text">
  <%= cli.createdAt.toDateString()%>
</span>
<h4 class="<%= cli.exitCode ? 'red' : 'pistachio'%>-text">
  <%= cli.cmd %>
</h4>
<pre>
<%= cli.logs %>
</pre>

<ul class="collection">
  <li class="collection-item avatar">
    <img src="<%= cli.executer.profile_pic %>" alt="" class="circle">
    <span class="title"><%= cli.executer.first_name %> <%= cli.executer.last_name %></span>
  </li>
</ul>